<?xml version="1.0" encoding="UTF-8"?>


<settings>
  
  <dispItems>
    <dispItem key="activeRunway" color="FFFFFF" width="3" />
    <dispItem key="closedRunway" color="FFAAAA" width="3" />
     
    <dispItem key="navVOR" color="55FF55" width="3" borderWidth="1" borderDistance="9" />
    <dispItem key="navNDB" color="5555FF" width="3" borderWidth="1" borderDistance="10" />
    <dispItem key="navFix" color="FF00FF" width="3" />
    <dispItem key="navFixMinor" color="770077" width="3" />
    <dispItem key="navAirport" color="AAAAFF" width="7" />
     
    <dispItem key="borderCountry" color="4444FF" width="1" />
    <dispItem key="borderCtr" color="44AAFF" width="1" />
    <dispItem key="borderTma" color="44AAFF" width="1" />
     
    <dispItem key="mapBackcolor" color="000000" width="1" />
  </dispItems>
  
  <dispTexts>
    <dispText type="atc" color="AAAAAA" />
    <dispText type="plane" color="00FF00" />
    <dispText type="system" color="FFFFFF" />
  </dispTexts> 
   
  <dispPlanes>
    <!-- 
case 1:    callsign 
case 2:    callsignCompany 
case 3:    callsignNumber 
case 4:    sqwk 
case 11:   heading 
case 12:   targetHeading 
case 21:   speedLong 
case 22:   speedShort 
case 31:   targetSpeedLong 
case 32:   targetSpeedShort 
case 33:   altitudeLong 
case 34:   altitudeShort 
case 35:   altitudeInFtShort 
case 36:   targetAltitudeLong 
case 37:   targetAltitudeShort 
case 38:   targetAltitudeInFtShort 
case 41:   verticalSpeedLong 
case 42:   verticalSpeedShort 
case 43:   climbDescendChar 
    -->
    <dispPlane atcType="app" behavior="any" color="00FF00"
               pointWidth="7" headingLineLength="55" historyDotCount="10" 
               firstLineFormat="{1}" 
               secondLineFormat="{34}{43}{37} {22}"
               thirdLineFormat="{4}" />
     
    <dispPlane atcType="ctr" behavior="any" color="008800"
               pointWidth="5" headingLineLength="15" historyDotCount="10"
               firstLineFormat="{1}"
               secondLineFormat="{34} {22}"
               thirdLineFormat="{4}" />
    
    <dispPlane atcType="twr" behavior="any" color="008888"
               pointWidth="5" headingLineLength="15" historyDotCount="10"
               firstLineFormat="{1}"
               secondLineFormat="{34} {22}"
               thirdLineFormat="{4}" />
  </dispPlanes>
</settings>
